
@{
    ViewBag.Title = "List2";
}

<h2>List2</h2>
<table class="table">
    <tr>
        <th>用途</th>>
        <th>日付</th>
        <th>値段</th>
        <th>備考</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Date</td>
            <td>@item.Price</td>
            <td>@item.Memo</td>
        </tr>
    }
</table>

