@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>家計簿</h1>
    <p class="lead">収入と支出を記録し、あなたの家計を助けます</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>支出入力</h2>
        @* <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>*@
        <p><a class="btn btn-default" href="http://localhost:31163/Members/Index">支出入力 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>収入入力</h2>
        @*<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>*@
        <p><a class="btn btn-default" href="http://localhost:31163/Incomes">収入入力 &raquo;</a></p>
    </div>
</div>
    @*<div class="col-md-4">
        <h2>データ</h2>
        @*<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>*@
        @*<p><a class="btn btn-default" href="http://localhost:31163/Incomes">収入入力 &raquo;</a></p>
    </div>*@